body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.head .main{
    color: crimson;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left:7%;
    padding-right: 8%;
}
.half-width img{
    width: 80%;
}
button{
    border: none;
    padding: 15px 30px;
    /*background-color: #f53565;*/
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
}
.hire-me{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}
.ending{
    width: 50%;
    padding: 10px 60px 120px 60px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 7px solid rgb(228, 23, 208) ;
}
.different{
    border-left: 7px solid rgb(138, 11, 236);
}
.second-head{
    color: orange;
}
.main-head{
    font-size: 40px;
}
.last-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer{
    text-align: center;
}

